<div class="row">
    <div class="col">
        <h2>Completed Tasks</h2>
        <h3 class='font-weight-light'>Click Task If Not Completed</h3>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul>
            <li *ngFor="let item of completedList; let i = index" (click)="remove(i)"><s>{{item}}</s></li>
        </ul>
    </div>
</div>
<div class="row" *ngIf="completedList.length">
    <div class="col-12">
        <hr class='border border-light'>
        <p (click)="removeAll()" class="pointer lead">Click Trash to Empty Completed Tasks 🗑️</p>
    </div>
</div>