.center {
    display: flex;
    justify-content: center;
}

h2 {
    color: #073B4C;
    font-size: 50px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}

h3 {
    color: #073B4C;
    font-size: 24px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: lighter;
}

.box {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px !important;
    color: #073B4C !important;
    text-decoration: line-through red;
}

p {
    color: #073B4C;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: lighter;
}

.pointer {
    cursor: pointer;
    font-size: 2rem;
}