.allBtn {
    border: 2px solid #073B4C;
    color: #073B4C;
    background-color: #06D6A0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 21px;
    width: 75%;
    border-radius: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

textarea {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 25px !important;
    color: #073B4C !important;
    border-radius: 10px !important;
}

h2 {
    color: #073B4C;
    font-size: 50px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
}

.allBtn {
    border: 2px solid #073B4C;
    color: #073B4C;
    background-color: #06D6A0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 21px;
    width: 80%;
    border-radius: 10px;
}

.allBtn:hover {
    border: 2px solid #39f3c1;
    background-color: #39f3c1;
    color: white;
}

