<div class="py-3 mb-2 yellowBG">
    <div class="container-fluid borderBottom">
        <h1 class="thiccFont center">To-Do List</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4 blueSubBG">
                    <app-left></app-left>
                </div>
                <div class="col-4 redSubBG surroundBorder">
                    <app-center></app-center>
                </div>
                <div class="col-4 greenSubBG">
                    <app-right></app-right>
                </div>
            </div>
        </div>
    </div>
</div>