<div class="py-3 mb-2 yellowBG">
    <div class="container-fluid borderBottom">
        <h1 class="thiccFont center text-center">To-Do List</h1>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-md-4 col-12 blueSubBG order-md-1 order-2 padding borderBottom">
                    <app-left></app-left>
                </div>
                <div class="col-md-4 col-12 redSubBG surroundBorder order-md-2 order-1 padding borderBottom">
                    <app-center></app-center>
                </div>
                <div class="col-md-4 col-12 greenSubBG order-3 padding borderBottom">
                    <app-right></app-right>
                </div>
            </div>
        </div>
    </div>
</div>