<div class="container-fluid">
    <div class="row p-3 border-bottom border-light">
        <div class="col-12">
            <h1 class="text-center">To-Do List</h1>
        </div>
    </div>
    <div class="row h-75">
        <div class="col-3 border-right border-light py-3">
            <app-left></app-left>
        </div>
        <div class="col-6 py-3">
            <app-center></app-center>
        </div>
        <div class="col-3 border-left border-light py-3">
            <app-right></app-right>
        </div>
    </div>
</div>